.sortable {
    cursor: pointer;
    color: #ffd166;
}

.warning {
    background-color: black;
}

table {
  color: #06D6A0;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #EF476F;
}

.header-row {
    background: #118AB2;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;

}

h3 {
    color: #073B4C;
}